<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Root</key>
	<string>http://api.remix.bestbuy.com/v1/</string>
	<key>API Key</key>
	<string>a6xexy2znvn29m9mjfzfkhp5</string>
</dict>
</plist>
